<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>CyberNest</title>
</head>
<body>
    <header>
        <h1>Welcome to CyberNest</h1>
        <nav>
            <ul>
                <li><a href="/ctf-helpers/">CTF Helpers</a></li>
                <li><a href="/cryptography/">Cryptography</a></li>
                <li><a href="/digital-forensics/">Digital Forensics</a></li>
                <!--<li><a href="/edit-exif">EXIF Editor</a></li> -->
            </ul>
        </nav>
    </header>
    <main>
        <h2>Your one-stop platform for cybersecurity tools!</h2>
        <p>Explore our modules for CTF assistance, cryptographic operations, and digital forensics.</p>
    </main>
    <footer>
        <p>&copy; 2025 CyberNest Team</p>
    </footer>
</body>
</html>
